.desktop-app {
  .desktop-user-flow {
    .user-flow {
      position: relative;
      border-color: green;
      border-width: 4px;

      height: max(100dvh, 860px);
      max-height: 900px;

      scroll-snap-align: start;

      .description {
        border-color: orange;
        height: 20%;

        .number {
          width: 20%;
          font-weight: 500;
          font-size: clamp(7rem, 7dvw, 9rem);
          color: var(--app-secondary-color);
        }

        .title {
          width: 30%;

          h3 {
            font-size: 1.7rem;
          }

          p {
            text-wrap: pretty;
          }
        }
      }

      .illustration {
        border-color: hotpink;
        height: 75%;
      }
    }

    .user-flow.one {
      .illustration {
        padding-inline: 2%;
      }
      .illustration-ui-dev {
        border: 2px solid magenta;
        width: 100%;
        height: 100%;
        
        .card {
            min-width: 25%;
        }
      }
    }
  }
}
