/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;

  font-family: "Outfit", system-ui, -apple-system, sans-serif;
  color: var(--app-white);
  user-select: none;
}

:root {
  --font-sm: 0.9rem;

  --app-primary-color: #34db69;
  --app-primary-color-light: #34db69b0;
  --app-secondary-color: #222;
  --app-danger-color: #e03a3a;
  --app-black: #101010;
  --app-white: whitesmoke;
  --app-secondary-color-light: #0008;

  --size-half: 0.5rem;
  --size-1: 1rem;

  --size-10p: 10%;

  --cursor-image: url("./assets/cursors/jujutsu-cursor-32.png") 5 5, auto;
  --pointer-image: url("./assets/cursors/jujutsu-pointer-32.png") 5 5, pointer;

  --ease: linear(
    0 0%,
    0.2342 12.49%,
    0.4374 24.99%,
    0.6093 37.49%,
    0.6835 43.74%,
    0.7499 49.99%,
    0.8086 56.25%,
    0.8593 62.5%,
    0.9023 68.75%,
    0.9375 75%,
    0.9648 81.25%,
    0.9844 87.5%,
    0.9961 93.75%,
    1 100%
  );

  --ease-bounce: linear(
    0 0%,
    0.4603 6.92%,
    0.7446 12.45%,
    0.8526 15.3%,
    0.9372 18.22%,
    1.0005 21.28%,
    1.0442 24.56%,
    1.0708 28.5%,
    1.0766 30.68%,
    1.0775 33.08%,
    1.0677 38.05%,
    1.0191 52.63%,
    1.0021 61.72%,
    0.9959 73.62%,
    1 100%
  );
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

html,
body {
  /* min-height: max(100dvh, 37.5rem); */
  background-color: var(--app-secondary-color);
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  cursor: var(--cursor-image);
  overflow-x: hidden;

  #root,
  .desktop-app {
    height: max(100dvh, 37.5rem);
    max-height: 67.5rem;
    scroll-behavior: smooth;

    /* border: 2px solid var(--app-white); */
    overflow-y: scroll;
  }
}

html:has(.connecting, .menu-list) {
  overflow: hidden;

  .connecting {
    overflow: hidden;
    /* hmmm work on this */
  }

  .desktop-app {
    padding: 0;
  }
}

img,
picture,
video,
canvas {
  display: block;
  max-width: calc(var(--size-10p) * 10);
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: var(--ease);
  cursor: var(--pointer-image);
}

button,
input,
textarea,
fieldset {
  outline: none;
  border: none;
  background-color: transparent;

  /* transitions */
  transition-duration: 150ms;
  transition-property: border, background-color, transform color;
  transition-timing-function: var(--ease);
}

.font-orbitron {
  font-family: "Orbitron", system-ui, -apple-system, monospace;
}

.color-primary {
  color: var(--app-primary-color);
}

.color-secondary {
  color: var(--app-secondary-color);
}

.pos-relative {
  position: relative;
}

.pointer {
  cursor: var(--pointer-image);
}

.icon {
  --app-secondary-color: #2e2e2eec;
  /* --app-primary-color: #34db69ea; */
  width: 50px;
  height: 50px;
  display: grid;
  place-content: center;
  border: 2px solid currentColor;
  border-radius: 10px;
  transition-timing-function: var(--ease);
  transition-duration: 150ms;
  animation: rotateGradient calc(6s * var(--i, 1)) var(--ease) infinite;

  &.dark {
    border: 2px solid var(--app-secondary-color);
    background: linear-gradient(
      var(--angle),
      transparent 70%,
      var(--app-secondary-color) 100%
    );

    &:hover {
      border-color: var(--app-primary-color);
      background: linear-gradient(
        var(--angle),
        transparent 70%,
        var(--app-primary-color) 100%
      );
      svg {
        stroke: var(--app-primary-color);
      }
    }
  }

  &.light {
    border: 2px solid var(--app-primary-color);
    background: linear-gradient(
      var(--angle),
      transparent 70%,
      var(--app-primary-color) 100%
    );

    &:hover {
      border-color: var(--app-secondary-color);
      background: linear-gradient(
        var(--angle),
        transparent 70%,
        var(--app-secondary-color) 100%
      );
      svg {
        stroke: var(--app-secondary-color);
      }
    }
  }
}

.lucide-star {
  stroke: var(--app-primary-color);
  fill: var(--app-primary-color);
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 2px;
  /* controls the width */
  height: var(--size-half);
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: var(--size-half);
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: var(--size-half);
  transition-duration: 200ms;
  /* border: 2px solid transparent; */
}

::-webkit-scrollbar-thumb:hover {
  transition-duration: 200ms;
  background-color: var(--app-primary-color);
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.end {
    align-items: flex-end;
  }
}

.text-effect {
  &.gradient-white {
    color: transparent !important;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      var(--angle),
      white 40%,
      var(--app-secondary-color-light) 60%
    );
  }

  &.gradient-green {
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      var(--app-primary-color) 60%,
      transparent
    );
  }

  &.animate {
    animation: rotateGradient 10s linear infinite;
  }
}
/* Keyframes */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateGradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

@keyframes scroll-t-card {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-500px * 4 + 16rem));
  }
}

@keyframes moveBg {
  0% {
    background-position: -200% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Spin */
.spinner {
  border: 4px solid var(--app-secondary-color);
  border-left-color: var(--app-primary-color);
  border-radius: calc(5 * var(--size-10p));
  width: calc(var(--size-1) * 2.5);
  height: calc(var(--size-1) * 2.5);
  animation: spin 1s linear infinite;
}

.debug,
.bd {
  border: 2px solid red;
}

/* connecting component */
.connecting {
  height: 100dvh;
  position: relative;
  z-index: 1;
  background-color: var(--app-secondary-color);

  svg {
    * {
      /* for animejs */
      transform-origin: calc(5 * var(--size-10p));
      transform-box: fill-box;
    }
  }
}


/* Limit width for very large screens */
.limit-large-screen {
  /* Very Large Screens */
  @media screen and (width > 1920px) {
    border-color: green;
    width: min(100dvw, 1920px);
    margin: auto;
  }
}
