@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Outfit", system-ui, -apple-system, sans-serif;
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: "Tron";
  src: url("/fonts/TRON.TTF") format("truetype");
}

html,
body {
  min-height: 100dvh;
  background-color: #222;
  scrollbar-gutter: stable;

  #root {
    min-height: inherit;
  }
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
}

.debbug {
  border: 2px solid red;
}

/* connecting component general */
.connecting {
  height: 100dvh;
}

/* @media screen and (max-width: 600px) {
} */
