@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.4;

  font-family: "Outfit", system-ui, -apple-system, sans-serif;
  color: #fff;
  /* user-select: none; */
}

:root {
  --font-sm: 0.9rem;

  --primary-color: #34db69;
  --dark: #222;
  --secondary-color: #0008;

  --cursor: url("/cursors/jujutsu-cursor-32.png") 5 5, auto;
  --pointer: url("/cursors/jujutsu-pointer-32.png") 5 5, pointer;
}

@property --angle {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

html,
body {
  min-height: 100dvh;
  background-color: var(--dark);
  scrollbar-gutter: stable;
  scroll-behavior: smooth;

  cursor: var(--cursor);
  overflow-x: hidden;

  #root,
  .desktop-app {
    min-height: inherit;
  }
}

html:has(.connecting) {
  overflow: hidden;

  .connecting {
    overflow: hidden;
    /* hmmm work on this */
  }

  .desktop-app {
    padding: 0;
  }
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  transition-duration: 200ms;
  cursor: var(--pointer);
  &:hover {
    transition-duration: 150ms;
  }
}

.lucide-star {
  stroke: var(--primary-color);
  fill: var(--primary-color);
}

/* scroll bar styles */
::-webkit-scrollbar {
  width: 2px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
  transition-duration: 200ms;
  /* border: 2px solid transparent; */
}

::-webkit-scrollbar-thumb:hover {
  transition-duration: 200ms;
  background-color: var(--primary-color);
}

.flex {
  display: flex;
  &.column {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }
  &.evenly {
    justify-content: space-evenly;
  }
  &.around {
    justify-content: space-around;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.end {
    align-items: flex-end;
  }
}

.text-effect {
  &.gradient-white {
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(
      var(--angle),
      white 40%,
      var(--secondary-color)
    );
  }

  &.gradient-green {
    color: transparent !important;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(var(--primary-color) 60%, transparent);
  }

  &.animate {
    animation: rotateGradient 10s linear infinite;
  }
}

@keyframes rotateGradient {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.debbug {
  border: 2px solid red;
}

/* connecting component */
.connecting {
  height: 100dvh;
  /* width: 100dvw; */
  position: relative;
  z-index: 1;
}

/* desktopapp component */
.desktop-app {
  position: relative;
  /* padding: 30px 130px; */

  .d-header {
    height: 1020px;
    padding: 30px 130px;

    background-image: url("/images/2d-me.png"); /* test image */
    background-repeat: no-repeat;
    background-position: 50% -50%;

    a {
      font-size: 1.1rem;
      font-weight: bolder;
      &:hover {
        color: var(--primary-color);
      }
    }

    .d-nav {
      height: 100px;
      padding: 1%;
      position: relative;
      z-index: 5;
      /* border-radius: 25px; */
      /* background-color: var(--secondary-color); */

      a.home-link {
        color: var(--primary-color);
      }

      .logo {
        width: 10%;
        img {
          width: 40%;
          aspect-ratio: 1;
        }
      }

      .links {
        width: 35%;
        align-items: center;
        background-color: var(--secondary-color);
        backdrop-filter: blur(5px);
        border-radius: 50px;

        position: relative;
        z-index: inherit;
      }
    }

    .d-s1 {
      height: 830px;

      .intro-name {
        align-self: center;
        height: 300px;
        width: 72%;

        .p-hello {
          align-self: center;
          width: 100px;
          font-weight: bold;
          span {
            font-family: "Orbitron";
            letter-spacing: 3px;
          }
        }

        .p-name {
          /*.p-name p */
          font-size: 5.5rem;
          text-align: center;
          font-weight: bold;

          span {
            color: var(--primary-color);
          }
        }
      }

      .intro-rating {
        height: 300px;

        div {
          width: 400px;
        }

        .p-quote {
          font-size: 3rem;
        }

        .p-info {
          font-size: 1.3rem;
          text-wrap: balance;
          line-height: 1.5;
        }

        .p-client {
          p:nth-child(1) {
            font-size: 2rem;
            font-weight: bold;
            font-family: "Orbitron";
          }
          p:nth-child(2) {
            margin-top: 0.6rem;
            font-size: var(--font-sm);
          }
        }

        .p-stars {
          width: 50%;
        }

        .p-years {
          font-size: 2rem;
          font-weight: bold;
          margin-block: 2rem;
          span {
            font-family: "Orbitron";
          }
        }

        .p-ex {
          font-size: 2.5rem;
          text-align: right;
          padding-bottom: 1.5rem;
          width: 80%;
          border-bottom: 5px solid;
        }
      }

      .intro-links {
        height: 100px;
        width: 500px;
        align-self: center;

        p:nth-child(1) {
          background-color: var(--primary-color);
        }

        p:nth-child(2) {
          color: var(--primary-color);
          border: 2px solid;
        }

        p {
          width: 45%;
          align-self: center;
          height: 80px;
          border-radius: 25px;
          font-size: 1.5rem;
          font-weight: bold;
          gap: 0.625rem;
          cursor: var(--pointer);
        }
      }
    }
  }

  .d-service {
    height: 830px;
    padding: 30px 130px;
    background-color: var(--secondary-color);
    /* border-radius: 50px; */

    .service-info {
      height: 100px;
      padding-bottom: 1rem;
      border-bottom: 2px solid var(--dark);

      div {
        width: 30%;
      }

      div:nth-child(1) p {
        font-size: 3.5rem;

        span {
          color: var(--primary-color);
        }
      }

      div:nth-child(2) p {
        font-size: 1.3rem;
        line-height: 1.5;
      }
    }

    .service-cards {
      height: 600px;

      .cards {
        position: relative;
        width: min(30.5%, 500px);
        height: 600px;
        align-self: center;
        background-color: #222;
        clip-path: path(
          "M450 0C477.614 6.4426e-06 500 22.3858 500 50V389C500 416.614 477.614 439 450 439H387C359.386 439 337 461.386 337 489V550C337 577.614 314.614 600 287 600H50C22.3858 600 8.0543e-07 577.614 0 550V50C0 22.3858 22.3858 4.02663e-07 50 0H450ZM430 460C468.66 460 500 491.34 500 530C500 568.66 468.66 600 430 600C391.34 600 360 568.66 360 530C360 491.34 391.34 460 430 460Z"
        );

        transition-duration: 200ms;

        &:hover {
          background-color: var(--secondary-color);
          .arrow {
            background-color: var(--primary-color);
          }
        }

        .title {
          height: 20%;
          padding: 1.5rem;
          font-size: 2rem;
          font-weight: 500;
          /* border-bottom: 2px solid var(--secondary-color); */
        }

        .folders {
          height: 80%;
          position: relative;

          div {
            position: absolute;
            bottom: 0;
            height: 60%;
            width: 100%;
            border-radius: 25px;
            overflow: hidden;
          }

          div:nth-child(1) {
            background-color: #222b;
            z-index: 8;
          }

          div:nth-child(2) {
            width: 90%;
            margin-inline: 5%;
            transform: translateY(-10%);
            background-color: #000a;
            z-index: 4;
          }

          div:nth-child(3) {
            width: 80%;
            margin-inline: 10%;
            transform: translateY(-20%);
            background-color: #0009;
            z-index: 2;
          }
        }

        .arrow {
          width: 29%;
          height: 150px;
          display: grid;
          place-items: center;
          background-color: var(--secondary-color);
          position: absolute;
          z-index: 10;
          bottom: -5px;
          right: -1px;
          transition-duration: 200ms;
          cursor: var(--pointer);
        }
      }
    }
  }

  .d-experience {
    height: 830px;
    padding: 30px 130px;

    .p-work {
      height: 100px;
      width: 48.8%; /* 800px */
      align-self: center;

      p {
        font-size: 3rem;
        font-weight: 500;
      }
    }

    .d-work {
      height: 600px;

      h2 {
        font-size: 2rem;
      }

      p {
        margin-block: 0.625rem;
        font-weight: 500;
        span {
          font-family: "Orbitron", sans-serif;
        }
      }

      .d-work-time {
        height: 100%;
        width: 36.7%;

        div {
          height: 25%;
        }
      }

      .d-work-info {
        height: 100%;
        width: 52%;

        .lines {
          width: 100px;
        }

        .info-detail {
          width: 650px;
          div {
            height: 25%;
          }
        }
      }
    }
  }

  .d-about {
    height: 500px;
    overflow-x: hidden;

    p {
      font-size: clamp(14vw, 15vw, 18rem);
      font-family: "Orbitron";
      font-weight: 600;
      /* text-shadow: 50px 50px 10px #fff1; */
    }
  }

  .d-3d-house {
    height: 1080px;
    .house-scene {
      height: 100%;

      canvas {
        display: block;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  .d-testimonial {
    height: 830px;
    padding: 30px 0px;
    background-color: var(--secondary-color);
    position: relative;

    .words {
      align-self: center;
      width: min(960px, 50%);
      height: 30%;

      p {
        text-align: center;
        text-wrap: balance;
        font-weight: 600;
      }

      .large {
        font-size: 3rem;

        span {
          color: var(--primary-color);
        }
      }
    }

    .cards {
      /* border: 2px solid green; */
      height: 60%;
      overflow: hidden;
      position: relative;

      &::before,
      &::after {
        background-image: linear-gradient(to right, #000a 0%, #fff0 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
      }
      &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
      }
      &::before {
        left: 0;
        top: 0;
      }

      .marquee {
        height: 80%;
        gap: 2rem; /* 2 * 8 */
        width: calc(500px * 8 + 16rem);
        animation: scroll-t-card 40s linear infinite alternate-reverse;
      }

      .join {
        align-self: center;
        height: 10%;
        width: 10%;
        font-size: 12px;
        font-weight: 600;
        span {
          color: var(--primary-color);
        }
      }
    }
  }
}

@keyframes scroll-t-card {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-500px * 4 + 16rem));
  }
}

/* @media screen and (max-width: 600px) {
} */
